---
---

@import "{{ site.theme }}";
$primary-color: #99e0dd;
table {
    td:nth-of-type(3) { width: 240px; }
} 

table th {
    text-align:left; background-color: $primary-color;
    border:solid $primary-color 1px;
}

h1 {font-size: 1.7em;}
h2 {font-size: 1.6em; border-bottom: 2px solid $primary-color; margin-top:1em; }
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}

.page-content {padding-top:0;}

thead {
    position: sticky;
    top: 0px;
    background: $primary-color;
  }

  .wrapper {
    max-width: calc(900px - (30px * 2));
}

.site-header {
    border-bottom: 0;
}

.site-title {
    font-size: 1.7em;
    color:$primary-color;
    margin-bottom:1rem;
}    


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: "Open Sans", sans-serif;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin:0;
  padding:0;
  width: 100%;
}
table tr {
  border: 1px solid #ddd;
  padding: 5px;
}
table th, table td {
  padding: 10px;
  text-align: center;
}
table th {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }
  table td {
    border-bottom: 1px dotted #ccc;
    display: block;
    font-size: 13px;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}