---
---

@import "{{ site.theme }}";
$primary-color: #99e0dd;
table {
    td:nth-of-type(3) { width: 240px; }
} 

table th {
    text-align:left; background-color: $primary-color;
    border:solid $primary-color 1px;
}

h1 {font-size: 1.7em;}
h2 {font-size: 1.6em; border-bottom: 2px solid $primary-color; margin-top:1em; }
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}

.page-content {padding-top:0;}

thead {
    position: sticky;
    top: 0px;
    background: $primary-color;
  }

  .wrapper {
    max-width: calc(900px - (30px * 2));
}

.site-header {
    border-bottom: 0;
}

.site-title {
    font-size: 1.7em;
    color:$primary-color;
    margin-bottom:1rem;
}    